#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#calculator{
  width: 320px;
  background-color: #1a1a1a;
  padding: 0.5rem 0 0.2rem 0;
  border-radius: 8px;
  border: 1px solid orangered;
}

#display, #result{
  text-align: end;
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  font-size: 1.5em;
}

hr{
  width: 95%;
  color: #646cff;
  margin-bottom: 0.2rem;
}

#buttons-wrap{
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
}

#clear, #divide, #multiply, #add, #substract, #equals{
  color: orangered;
}

.white:hover{
  color: white;
}

button {
  width: 70px;
  height: 65px;
  border-radius: 8px;
  border: 1px solid #646cff;
  padding: 0.6em 1.2em;
  margin: 0.1rem;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: orangered;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#equals{
  width: 290px;
}

#footer{
  font-size: 1em;
  padding-top: 1em;
  color: orangered;
}



